*, *::before, *::after {
    box-sizing: border-box;
}
 
* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.main {
    background-color: white;
}

a {
    text-decoration: none;
    color: white;
}

header {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    flex-shrink: 1;
}

header ul {
    display: flex;
    gap: 60px;
}

li {
    list-style-type: none;
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    height: 85vh;
    display: flex;
    justify-content: space-between;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 10px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
    text-align: left;
}

.hero-main-text,
.hero-text,
.hero-button {
    width: 70%;
}

.hero-button {
   background-color: #3882F6;
   padding: 5px 20px;
   border-radius: 8px; 
   border: none;
   align-self: center;
   width: fit-content;
}

.hero-button a {
    text-decoration: none;
    color: #F9FAF8;
}

.hero-img {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero-img img{
    width: 80%;
    height: 250px;
    object-fit: cover;
}

/* Second section*/

.cards {
    height: 80vh;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 40px;
}

.cards div {
    display: flex;
    flex-wrap: wrap;
}

.card {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
}

.card article {
    height: 200px;
    width: 200px;
    margin: 20px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.card p {
    text-align: center;
    max-width: 20ch;
    font-size: 18px;
}

/* Quote section */

.quote {
    height: 55vh;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-text {
    max-width: 45ch;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote-autor {
    font-size: 18px;
    color: #1F2937;
    font-weight: bolder;
    align-self: flex-end;
    margin-right: 200px;
}

/* Call to action*/

.container-call-to-action {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    background-color: #3882F6;
    height: 50%;
    width: 70%;
    min-width: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

.call-to-action-text :nth-child(1){
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.call-to-action-text :nth-child(2){
    font-size: 18px;
    color: #E5E7EB;
}

.call-to-action-button button{
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 30px;
    border: 2px solid white;
    border-radius: 6px;
}